body{
    font-family: 'Yantramanav', sans-serif;
    margin: 0%;
}
.donate-now{
    color: white;
    text-align: center;
    font-size: 56px;
  
}
.first-donate{
    background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 13%;
 
}
.donate-now1{
    color: aquamarine;
    text-align: center;
    font-size: 20px;
}
.link-button{
    text-decoration:none ;
    text-align: center;
    background-image: linear-gradient(orange, tomato);
    border-radius: 6px;
    padding: 10px 30px;
    color: white;
    font-weight: 800;
    margin-left: 45%;
    
    
   
}
.donate-today{
    text-align: center;
}
h1{
    font-size: 50px;
}
.dt{
    margin-top: 200px;
}
.donate-tk{
   
  display: flex;
  padding-left: 25%;
}
.donate-tk1{
   
    margin: 35px;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 10px;
    color: gray;
   
    
}
#my-donate{
    border: 2px solid rgb(212, 64, 10);
    color: red;
    background-color: rgb(239, 136, 98);
}
.amount{
    color: gray;
    font-size: 12px;
    margin-top: 60px;
    
    
   
   
}
.link-button2{
    margin-top: 43px;
    margin-right: 30%;
}